@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
  position: relative;
  background: transparent;
  width: 500px;
  height: 800px;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  backdrop-filter: blur(100px);
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  display: flex;
  flex-wrap: wrap;
  margin: 0px auto;
  padding: 2rem;
  justify-content: center;
  align-items: center;
}
body{
  /* background-image: linear-gradient(#3A1078, #4E31AA, #2F58CD, #3795BD, #3795BD, #2F58CD, #4E31AA, #3A1078); */
  background: url("/Background.jpg") no-repeat;
  width: 100%;
  height: 100vh;
}
.social{
  display: flex;
  flex-wrap: wrap;
}